doctype html
html(lang=mylang)
  head
    meta(charset='UTF-8')
    meta(http-equiv='Content-Type',content='text/html;charset=utf-8')
    meta(name='robots', content='index, follow')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='keywords', content='')
    meta(name='description', content='')
    meta(name='generator', content='')
    title= t('app.title')
    -if(mode === 'development'){
      link(rel='stylesheet' href='css/parcelsplitter.css', type='text/css', media='screen')
      link(rel='stylesheet' href='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css', type='text/css', media='screen')
    -} else {
      link(rel='stylesheet' href='css/parcelsplitter.css', type='text/css', media='screen')
      link(rel='stylesheet' href='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css', type='text/css', media='screen')
    -}
  body
    block content


 


